
.form-control {
    border-radius: 37%;
}
header{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.card-image{
    height: 50px;
    width: 40px;
}
.card{
    background-color: lightblue;
    border-radius: 10px;
    
}
body{
    background-color: grey;
}
li:hover{
    background-color: sandybrown;
}
li{
    
    border-radius: 10px;
    font-weight: 300;
}